.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 30px;
  border-bottom: 1px solid #9ba8b8;
}

.todoItemSelected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  height: 30px;
  -webkit-box-shadow: 0 6px 6px -5px #080b11;
  -moz-box-shadow: 0 6px 6px -5px #080b11;
  box-shadow: 0 6px 6px -5px #080b11;
}

.todoItemSelect {
  text-decoration: line-through;
}

.itemLeft {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkbox {
  appearance: none;
  margin: 0px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  box-sizing: border-box;
  border: 2.8px solid #05828e;
  border-radius: 50%;
  background-color: #e7eaef;
  margin-right: 10px;
  position: relative;
}

.checkbox:checked {
  background-color: #05828e;
  background-size: contain;
  background-image: url("./check1.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
}

.description {
  margin: 0px;
  text-align: left;
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
}

.descriptionChecked {
  margin: 0px;
  text-align: left;
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: line-through;
}

.basket {
  width: 30px;
  height: 20px;
  border: none;
  background: none;
  background-size: contain;
  background-image: url("./basket.svg");
  background-repeat: no-repeat, repeat;
  background-position: center;
}
