.appTodo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 40px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 500px;
  background-color: #e9e9ec;
  border-radius: 15px;
  box-shadow: 0 4px 36px 0 rgba(0, 0, 0, 0.8);
}

.appContent {
  padding: 10px;
  min-height: 300px;
}

.imageApp {
  width: 400px;
  height: 140px;
  background-size: cover;
  background-image: url("./wale.png");
  background-repeat: no-repeat, repeat;
  background-position: center;
}

.appTitle {
  margin: 0px;
  margin-right: 20px;
  font-size: 35px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: right;
  background: linear-gradient(to top, #05828e 0%, #162229 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Rozha One", serif;
}

.footer {
  display: flex;
  align-self: end;
  justify-content: flex-end;
}

.buttonDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: end;
  width: 100px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 25px;
  background: none;
  border: 1.5px solid #162229;
  text-align: center;
  font-size: 14px;
  color: #162229;
  letter-spacing: 0.5px;
  text-align: right;
  font-family: "Rozha One", serif;
}

.buttonDelete:hover {
  background: radial-gradient(#05828e, #080b11);
  background-repeat: no-repeat;
  color: #e9e9ec;
}
